.Summary {
  width: 45%;
  min-width: 400px;
}

.tableContainer {
  border: 2px solid;
  padding: 8px 16px;
  height: 400px;
  overflow-y: scroll;
}

.table {
  width: 100%;
}

.table th,
.table td {
  text-align: left;
}
